<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"/> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"/> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"/> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html  xmlns:th="https://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->


<head>
    <div th:replace="fragments/head :: head"></div>
    <title id="pageTitle" th:inline="text">About [[${title}]] &lt; [[${org}]]</title>
    <!-- A few keywords that relate to the content of THIS PAGE (not the whole project)
    <meta name="keywords" content="biosamples, europe, EBI" />
    <!- - Describe what this page is about - ->
    <meta name="description" content="EMBL-EBI" />
    <meta name="ebi:last-review" content="2016-12-20" />
    <!- - The last time the content was reviewed - ->
    <meta name="ebi:expiry" content="2017-12-20" />
    <!- - When this content is no longer relevant -->
</head>


<body>
<th:block th:include="fragments/header :: header"></th:block>

<section id="main-content-area" role="main">
    <div class="row">
        <h2>Welcome to the Central Portal of TIB Terminology Services</h2>

        <h3>TIB Terminology Service</h3>

                <p>
                    The Terminology Service of TIB - Leibniz Information Centre for Science and Technology and University Library is a single-point-of-entry web-service providing access to terms from generic and domain-specific controlled vocabularies and ontologies.
                </p>

                <p>
                    The web-service offers an intuitive search functionality which is based on a SOLR search index on identifiers and terms. Search results can be filtered by entity type or ontology. Two visualisations allow interactive browsing of terms: Term hierarchies are displayed in a tree-view, while further ontological relations between terms are displayed in a graph-based visualisation. RDF serializations of the latest ontology version are offered as downloads.
                </p>

				<p>
					The service also offers an API that allows to retrieve information on terms and their relations as json data for use in other webservices, e.g. in services of the research data management infrastructure of the NFDIs. In applications like research data management systems, ontological terms and their unique identifiers can, for example, be used as metadata on research data artifacts - thereby making research (meta)data more findable and interoperable.
				</p>

                <h4>Functionalities</h4>

                <p>In further stages, the service will be expanded by the following functionalities:</p>
                <ul>
                    <li>reliable storage for newly created domain-specific vocabularies,</li>
                    <li>a fine-grained classification of vocabularies</li>
                    <li>collaborative creation of ontologies including a governance structure, a versioning system, a management platform and the possibility to identify missing terms and make term suggestions</li>
                    <li>a help-desk to assist the user community in the curation of terminologies.</li>
                </ul>
                
                <p>
                The technical components of the service are based on open source solutions. The web-service for ontology browsing is based on the Ontology Look-up Service (OLS) developed by the <a href="http://www.ebi.ac.uk/about/spot-team">Samples, Phenotypes and Ontologies Team (SPOT)</a> at the <a href="https://www.ebi.ac.uk/">European Bioinformatics Institute (EMBL-EBI)</a>. Further modules of the service could be realized by GitLab, Web-Prot&eacute;g&eacute;, or Redmine.
                </p>

    </div>
</section>


<th:block th:include="fragments/footer :: footer"></th:block>

<!-- <script type="text/javascript" src="/js/oxo.js" th:src="@{/js/oxo.js}"></script> -->


<!-- All JS that is just used on this page should go here, I suppose-->
<script>
    $(document).ready(function() {
    });
</script>

</body>
</html>